<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
      <meta charset="utf-8">
      <title>To Do List</title>
      <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
      />
      <link rel="stylesheet" href="css\styles.css">
      <nav class="navbar navbar-dark bg-dark">
        <div class="container">
          <div class="navbar-header">
            <p class="navbar-brand">TODO List</p>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <!-- 6 -->
            <li id="home"><a href="/">TODAY'S TODO LIST</a></li>
            <li id="compose"><a href="/createNewList">CREATE A NEW LIST</a></li>
            <li id="compose"><a href="/allLists">VIEW ALL LISTS</a></li>
            <li id="home"><a href="/about">ABOUT</a></li>
          </ul>
        </div>
      </nav>
    </head>
  <body>
